# TUPLES ()

In [ ]:
TUPLES are ordered collection of items .
--A Tuple consists of a number of values separated by comma.
--they are indexed and standard sequenced datatype.
--we can create a tuple with different values ,but all the values should be homogenous(similar)
--they are immutable,i.e you cannot change.
--list and tuple are created with homogenous value.

ex--

In [1]:
tuple1=(1,2,3,4,5)

In [2]:
tuple1

(1, 2, 3, 4, 5)

In [7]:
tuple1[0]

1

In [8]:
tuple1[1]

2

In [9]:
tuple1[3]

4

In [3]:
tuple2=(11,12,13,14,15,16)

In [4]:
tuple2

(11, 12, 13, 14, 15, 16)

In [10]:
tuple2[0]

11

In [11]:
tuple2[1]

12

In [5]:
tuple3=('a','p','p','l','e')

In [6]:
tuple3

('a', 'p', 'p', 'l', 'e')

In [12]:
tuple3[0]

'a'

In [13]:
tuple3[1]

'p'

In [14]:
tuple3[3]

'l'

This means tuples are indexed.

In [15]:
tuple3

('a', 'p', 'p', 'l', 'e')

In [16]:
tuple3.index('a')

0

In [18]:
tuple3.index('l')

3

In [19]:
tuple3.index('p')

1

In [20]:
tuple3.count('p')

2

'count operation '--will show how many similar characters are there in tuple .

In [21]:
tuple3[4]

'e'

In [22]:
tuple3[4]='me'

TypeError: 'tuple' object does not support item assignment

this means tuple is immutable --you cannt change the data in tuple.

# DICTIONARY{..}

dict1={key:value,key:value,key:value}

--One of the datastructures inside the pythons(build-in).sometimes found in otehr language as "associative memories"or"associative arrays".

--they are unordered collection of items .
--items in dictionary are not indexed. they are sequenced ordered.
--they are mutable.
--Inside the disctionary{},they are having key : value pair .dictionary are indexed by keys,which can be any immutable type;strings and number can always be a key.
--values are declared as a list for keys in dictionary,so they are put inside [ ].

ex--

In [23]:
dict1={'id':1,"Name":"John","Age":10}

In [24]:
dict1

{'id': 1, 'Name': 'John', 'Age': 10}

In [26]:
dict1.keys()

dict_keys(['id', 'Name', 'Age'])

In [27]:
dict1.values()

dict_values([1, 'John', 10])

In [28]:
dict1.items()

dict_items([('id', 1), ('Name', 'John'), ('Age', 10)])

 if we want to add anotehr keys:value to this  statement ,we can do -by update operation
        
        ex--

In [29]:
dict1

{'id': 1, 'Name': 'John', 'Age': 10}

In [31]:
dict1.update({'fees':4000})

In [32]:
dict1

{'id': 1, 'Name': 'John', 'Age': 10, 'fees': 4000}

HOW TO CHECK THE INDIVIDUAL ELEMENTS?

In [33]:
dict1['id']

1

In [34]:
dict1['Name']

'John'

In [35]:
dict1['Age']

10

In [39]:
dict1['fees']

7800

In [37]:
dict1['fees']=7800

In [38]:
dict1

{'id': 1, 'Name': 'John', 'Age': 10, 'fees': 7800}

* with the help of pop operation we can pop out (remove) the last element from dictionary.

ex--

In [40]:
dict1.pop('fees')

7800

In [41]:
dict1

{'id': 1, 'Name': 'John', 'Age': 10}

clear operation and del operation both can be used inside dictionary.

In [42]:
dict1.clear()

In [43]:
dict1

{}

In [44]:
del dict1

In [45]:
dict1

NameError: name 'dict1' is not defined

In [46]:
dict2={'id':[1,2,3],'Name':["John","Jack","Andrew"],'Age':[10,11,12]}

In [47]:
dict2

{'id': [1, 2, 3], 'Name': ['John', 'Jack', 'Andrew'], 'Age': [10, 11, 12]}

In [49]:
dict2.keys()

dict_keys(['id', 'Name', 'Age'])

In [50]:
dict2.values()

dict_values([[1, 2, 3], ['John', 'Jack', 'Andrew'], [10, 11, 12]])

In [51]:
dict2.items()

dict_items([('id', [1, 2, 3]), ('Name', ['John', 'Jack', 'Andrew']), ('Age', [10, 11, 12])])

HOW TO CHECK INDEXED ELEMENT IN FOLLOWING SEQUENCED ORDER?

Ex--

In [69]:
dict2['id']

[1, 2, 3]

In [70]:
dict2["Name"]

['John', 'Jack', 'Andrew']

In [68]:
dict2['Age']

[10, 11, 12]

In [59]:
dict2['id'][0]

1

In [63]:
dict2['id'][1]

2

In [64]:
dict2['id'][2]

3

In [65]:
dict2['Name'][0]

'John'

In [66]:
dict2['Name'][1]

'Jack'

In [67]:
dict2['Name'][2]

'Andrew'

In [71]:
dict2["Age"][0]

10

internal values can be changed inside the dictionary.i.e dictionary are mutable .

ex--

In [72]:
dict2['Age'][2]=22

In [73]:
dict2

{'id': [1, 2, 3],
 'Name': ['John', 'Jack', 'Andrew'],
 'Age': [10, 11, 22],
 'fees': 1000}

In [76]:
dict2.pop('fees')

1000

In [77]:
dict2

{'id': [1, 2, 3], 'Name': ['John', 'Jack', 'Andrew'], 'Age': [10, 11, 22]}

In [78]:
dict2.clear()

In [79]:
dict2

{}

In [80]:
del dict2

In [81]:
dict2

NameError: name 'dict2' is not defined

keys in dictionary cannot be changed .,but values can .

In [82]:
dict2={'id':[1,2,3],"Name":["John","Jack","Neha"],"Age":[20,25,33]}

In [83]:
dict2

{'id': [1, 2, 3], 'Name': ['John', 'Jack', 'Neha'], 'Age': [20, 25, 33]}

In [85]:
dict2.update({"Marks":[40,45,60]})

In [86]:
dict2

{'id': [1, 2, 3],
 'Name': ['John', 'Jack', 'Neha'],
 'Age': [20, 25, 33],
 'Marks': [40, 45, 60]}

# SETS{..}

A PYTHON SET is the collection of unordered items .each element in the set must be unique ,immutable,and sets remove the duplicate elements.
--sets are immutable which means we cannot modify it after its creation .

Unlike others ,there is no index attached to the element of the set ,i.e, we cannot directly access any element of the set by the index.However,we can print them all together, or we can get the list of elements by looping through the sets.

In [87]:
P={78,23,45,67,89}

In [88]:
P

{23, 45, 67, 78, 89}

In [89]:
X=([10,22,33,40,50])

In [90]:
X

[10, 22, 33, 40, 50]

Both ways we can use .but

In [91]:
y={10,20,30,45,67,20}

In [92]:
y

{10, 20, 30, 45, 67}

so set will not allow any duplicate item.it will remove automatically.

In [96]:
days={"Monday","tuesday","Wednesday"}

In [97]:
days

{'Monday', 'Wednesday', 'tuesday'}

In [98]:
type(days)

set

if I want to ADD any new data

In [99]:
days.add("Sunday")

In [100]:
days

{'Monday', 'Sunday', 'Wednesday', 'tuesday'}

element(sunday)can be added anywhere because sets are unordered.and no indexing can be done .and immutable

remove operation will remove the particular item. such as

In [101]:
days.remove("Sunday")

In [102]:
days

{'Monday', 'Wednesday', 'tuesday'}

In [103]:
days.pop()

'Wednesday'

In [104]:
days

{'Monday', 'tuesday'}

pop item can remove any element in set ,not the last element.

In [105]:
days.clear()

In [106]:
days

set()