# LIST COMPREHENSION

In [1]:
mystring="Hello"

In [3]:
my_list=[]

for i in mystring:
    my_list.append(i)

In [5]:
print(my_list)

['H', 'e', 'l', 'l', 'o']

In [6]:
my_list=[i for i in mystring]

In [7]:
my_list

['H', 'e', 'l', 'l', 'o']

In [9]:
list=[x for x in "word"]
list

['w', 'o', 'r', 'd']

In [10]:
word= "PYTHON"

In [11]:
list=[x for x in word]
list

['P', 'Y', 'T', 'H', 'O', 'N']

In [12]:
list=[qwe for qwe in word]
list

['P', 'Y', 'T', 'H', 'O', 'N']

In [13]:

#to find square root
list2=[num**2 for num in range (0,11)]
list2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
list2=[num**2 for num in range (0,11)if num%2==0]  # even no
list2

[0, 4, 16, 36, 64, 100]

In [21]:
list2=[num**2 for num in range (0,11)if num%2!=0]  # odd number
list2

[1, 9, 25, 49, 81]

In [15]:
list1=[num for num in range(0,11)if num %2==0]
list1

[0, 2, 4, 6, 8, 10]

In [16]:
list1=[num**2 for num in range(0,11)if num %2==0]
list1

[0, 4, 16, 36, 64, 100]

In [17]:
list1=[num+2 for num in range(0,11)if num %2==0]
list1

[2, 4, 6, 8, 10, 12]

In [18]:
list1=[num-2 for num in range(0,11)if num %2==0]
list1

[-2, 0, 2, 4, 6, 8]

In [19]:
list1=[num/2 for num in range(0,11)if num %2==0]
list1

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0]

In [20]:
list1=[num//2 for num in range(0,11)if num %2==0]  # floor division
list1

[0, 1, 2, 3, 4, 5]

In [23]:
#convert celsius into fahrenheit --->using single line list comprehension

celsius=[0,10,20,34.5]

fahrenheit=[((9/5)*temp+32)for temp in celsius]

print(fahrenheit)

[32.0, 50.0, 68.0, 94.1]

In [27]:
#for loop using in list comprehension

fahrenheit=[]

for temp in celsius:
    fahrenheit.append(((9/5)*temp+32))

In [28]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [33]:
#nested loop using for loop

mylist=[]

for x in [2,4,6]:
    for y in [10,100,1000]:
         mylist.append(x*y)

In [34]:
mylist

[20, 200, 2000, 40, 400, 4000, 60, 600, 6000]

In [37]:
#using list comprehension

mylist=[x*y for x in [2,4,6] for y in [10,100,1000]]

In [38]:
mylist

[20, 200, 2000, 40, 400, 4000, 60, 600, 6000]