# CONTROL FLOW STATEMENTS USING IF/ELSE/ELIF

IF STATEMENT

IN "IF "STATEMENT, the value will be either true or false .
an "if statement" is wriiten using if keys .

In [1]:
x=15

if(x>10):
    print("x is greater")
else:
    print("x is lesser")

x is greater

In [2]:
x=5.5

if (x>10):
    print("x is greater")
else:
    print("x is lesser")

x is lesser

In [4]:
x=15

if(x>=15):
    print("x is greater")
else:
    print("x is lesser")

x is greater

Indentation gap= are the gaps that show's that print statement are the part of "if" statement.

In [5]:
p=90

if(p>50):
    print("p is greater")
else:
    print("p is lesser")

p is greater

In [6]:
p=30

if(p>50):
    print("p is greater")
else:
    print("p is lesser")

p is lesser

COMPARING NUMBER AS EVEN /ODD NUMBER IN IF/ELSE STATEMENT

In [8]:
x=22

if(x%2==0):
     print("x is even number")
else:
    print("x is odd number")

x is even number

In [9]:
x=21

if(x%2==0):
    print("x is even number")
else:
    print("x is odd number")

x is odd number

we can use >=,<= these keys as well.

USING USER INPUT IN COMPARISON.

In [10]:
x=int(input("Enter any number"))

if(x%2==0):
    print("x is even number")
else:
    print("x is odd number")

Enter any number43
x is odd number

In [11]:
x=int(input("Enter any number"))

if(x%2==0):
    print('x is a even number')
else:
    print('x is odd number')

Enter any number89
x is odd number

In [1]:
x=int(input("Enter any number"))

if(x%2==0):
    print(x,"is a even number")
else:
    print(x,"is a odd number")

Enter any number24
24 is a even number

In [5]:
x=int(input("Enter any number"))

if (x%2==0):
    print(x," is a even number")
else:
    print(x," is a odd number")

Enter any number65
65  is a odd number

USING NOT EQUAL TO IN COMPARISION(!=)

In [6]:
x=21

if(x%2!=0):
    print("x is odd number")
else:
    print("x is even number")

x is odd number

In [7]:
x=int(input("Enter any number"))

if(x%2!=0):
    print(x ,"is odd number")
else:
    print(x,"is even number")

Enter any number33
33 is odd number

COMPARISION ANALYSIS:

==> ELIF(ELSE+IF)-we write this ,to write a new condition using elif,then print the statement and then again we can give elif condition everytime.

# USING USER-END INPUT-

In [15]:
marks=int(input("Enter any number"))

if(marks>90):
    print("Execellent:A+")
elif(marks>=80 and marks<=90):
    print("A")
elif(marks>=70 and marks<=80):
    print("B+")
elif(marks>=60 and marks<=70):
    print("B")
elif(marks>=50 and marks<=60):
    print("C grade")
else:
    print("D grade")

Enter any number34
D grade

if the marks are in decimal digit ,then change it into float data i.e-

marks=float(input("enter the marks"))


with "elif" statement we can give multiple conditon and once we want to end it use else statement.

PYTHOON STATEMENTS:-
    
1) BREAK-Loop can be halted or terminated in between using break statement.

2)CONTINUES-It will jump the loop to the next iteratiom as soon as the condition is met.

In [2]:
for i in [100,200,300,400]:
    print(i)

100
200
300
400

using break statement:-

In [8]:
for i in [100,200,300,400]:
    if(i==300):
        break
    print(i)

In [9]:
for i in [100,200,300,400]:
    if(i==300):
        continue
    print(i)

100
200
400

In [10]:
for i in ["Apple","Mango","Orange","Pineapple"]:
    if(i=="Mango"):
        break
    print(i)

Apple

In [11]:
for i in ["Apple","Mango","Orange","Pineapple"]:
    if(i=="Orange"):
        continue
    print(i)

Apple
Mango
Pineapple

# LIST COMPREHENSION;-

In this entire for loop is written and within that for loop ,we use the list comprehension to select the particular element from that for loop based on specific conditions .

In [27]:
m=[i for i in [10,20,30,40,50]]

In [28]:
m

[10, 20, 30, 40, 50]

In [29]:
p=[i for i in ["Apple","Banana","Mango"]]

In [30]:
p

['Apple', 'Banana', 'Mango']

SIGNIFICANCE OF USING LIST COMPREHENSION;

In [33]:
list(range(2,20))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [34]:
m=[i for i in range(2,20) if i%2==0]

In [35]:
m

[2, 4, 6, 8, 10, 12, 14, 16, 18]

to select all even numbers  using list comprehension

In [36]:
m=[i for i in range(2,20) if i%2!=0]

In [37]:
m

[3, 5, 7, 9, 11, 13, 15, 17, 19]

select odd nmber