# PYTHON LOOP

WHAT IS LOOP?

LOOPS are continuous iteration of a block of codes till the condition is TRUE.when the condition turns to false ,loop is terminated.

what is ITERATION?
Repeative execution of the same block of code over and over is called iteration.

there are 2 TYPES of Loops
1) While loop
2) For loop

There are 2 types of iteration:-
    1)definite -- in which the number of repeatitiion is specified explicitly in advance .
    2)indefinite-- in which the code block executes untill some condition is met.

In Python, indefinte iteration is performed with a WHILE loop.

WHILE LOOP

In [1]:
i=0
while (i<3):
    print(i)
    i=i+1

0
1
2

In [2]:
i=0
while(i<5):
    print(i)
    i=i+1

0
1
2
3
4

In [4]:
i=0
while(i<8):
    print(i)
    i=i+1

0
1
2
3
4
5
6
7

In [5]:
i=1
while(i<5):
    print(i)
    i=i+1

1
2
3
4

In [6]:
k=0
while(k<10):
    print(k)
    k=k+1

0
1
2
3
4
5
6
7
8
9

In [8]:
m=0
while(m<21):
    print(m)
    m=m+2

0
2
4
6
8
10
12
14
16
18
20

In [9]:
p=0
while(p<50):
    print(p)
    p=p+5

0
5
10
15
20
25
30
35
40
45

In [10]:
n=0
while(n<=5):
    print(n)
    n=n+1

0
1
2
3
4
5

<= means less than and equal to 'n'value.it will go upto 5 but asa it become 6 ,its get terminated.

In [12]:
k=0
while(k<=5):
    print(k)
    k=k+2

0
2
4

In [13]:
k=0
while(k<5):
    print("k=",k)
    k=k+1

k= 0
k= 1
k= 2
k= 3
k= 4

In [14]:
j=2
while(j<=7):
    print("the value of j=",j)
    j=j+1

the value of j= 2
the value of j= 3
the value of j= 4
the value of j= 5
the value of j= 6
the value of j= 7

In [15]:
a=0
while(a<=5):
    print("a=",a)
    a=a+1

a= 0
a= 1
a= 2
a= 3
a= 4
a= 5

In [17]:
k=0
while(k<5):
    print("k=",k)
    print("inside")
    k=k+1
    
print("outside the loop")

k= 0
inside
k= 1
inside
k= 2
inside
k= 3
inside
k= 4
inside
outside the loop

# TABLES USING WHILE LOOP:-

In [19]:
i=0
while(i<=10):
    print(2*i)
    i=i+1

0
2
4
6
8
10
12
14
16
18
20

In [23]:
i=0
while(i<=10):
    print("2","*",i,"=",2*i)
    i=i+1

2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [27]:
r=0
while(r<=10):
    print("5","*",r,"=",5*r)
    r=r+1

5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [28]:
i=0
while(i<=10):
    print("7","*",i,"=",7*i)
    i=i+1

7 * 0 = 0
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

USING USER INPUT FUNCTION:-

In [33]:
k=int(input("enter any number for table"))

i=1
while(i<=10):
    print(k*i)
    i=i+1

enter any number for table4
4
8
12
16
20
24
28
32
36
40

In [35]:
k=int(input("enter any number"))

i=1
while(i<=10):
    print(k*i)
    i=i+1

enter any number6
6
12
18
24
30
36
42
48
54
60

In [38]:
r=int(input("enter any number"))

s=1
while(s<=10):
    print(r*s)
    s=s+1

enter any number5
5
10
15
20
25
30
35
40
45
50

In [39]:
a=int(input("enter any number"))

b=0
while(b<=10):
    print(a*b)
    b=b+1

enter any number9
0
9
18
27
36
45
54
63
72
81
90

In [41]:
k=int(input("enter any number"))

i=1
while(i<=10):
    print(k,"*",i,"=",k*i)
    i=i+1

enter any number3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [43]:
q=int(input("enter any number"))

i=1
while(i<=10):
    print(q,"*",i,"=",q*i)
    i=i+1

enter any number4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

# FOR LOOP

WHENEVER WE ARE WORKING WITH FOR LOOP,WE NEED TO ITERATION INSIDE THE FOR LOOP.

In [44]:
for index in[10,20,30,40,50]:
    print(index)

10
20
30
40
50

In [45]:
for index in[100,200,300,400,500]:
    print(index)

100
200
300
400
500

In [46]:
for k in [12.3,45.6,78.1]:
    print(k)

12.3
45.6
78.1

In [47]:
for i in ['A','B','C','D','E','F']:
    print(i)

A
B
C
D
E
F

FOR loop works with list datastructure.

In [48]:
for j in ["Apple","Mango","Banana","Papaya"]:
    print(j)

Apple
Mango
Banana
Papaya

Using Mixed value-

In [49]:
for k in [40,32,45.7,78.3,"A","B","Matrix",True]:
    print(k)

40
32
45.7
78.3
A
B
Matrix
True

# RANGE FUNCTION IN PYTHON:-

RANGE function gives sequence of integers.

In [50]:
range(0,5)

range(0, 5)

In [51]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [52]:
range(0,10)

range(0, 10)

In [53]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
list(range(0,7))

[0, 1, 2, 3, 4, 5, 6]

when we work with range ,we can start with start value ,end value . both the values we can give.

In [55]:
list(range(0,3))

[0, 1, 2]

In [56]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
list(range(5,10))

[5, 6, 7, 8, 9]

How to give range with 3 values ?

In [59]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [60]:
list(range(2,20,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [61]:
list(range(5,30,5))

[5, 10, 15, 20, 25]

In [63]:
list(range(5,55,5))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

We can use range with for loop as well;

In [64]:
for i in range (5):
    print(i)

0
1
2
3
4

In [65]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [66]:
for k in range(2,10):
    print(k)

2
3
4
5
6
7
8
9

In [67]:
for p in range(5,35,3):
    print(p)

5
8
11
14
17
20
23
26
29
32

WE CAN GENERATE TABLE IN RANGE USING FOR LOOP.

In [68]:
p=int(input("Enter any number"))

for i in range(1,11):
    print(p*i)

Enter any number5
5
10
15
20
25
30
35
40
45
50

In [71]:
p=int(input("Enter any number"))

for i in range(1,10):
    print(p*i)

Enter any number2
2
4
6
8
10
12
14
16
18

In [72]:
p=int(input("Enter any Number"))

for i in range (1,11):
    print(p,"*",i,"=",p*i)

Enter any Number8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [73]:
list1=[]

for p in ["Desktop","Laptop","Mouse","Printer"]:
    list1.append(p)
    print(list1)

['Desktop']
['Desktop', 'Laptop']
['Desktop', 'Laptop', 'Mouse']
['Desktop', 'Laptop', 'Mouse', 'Printer']

In [75]:
list1=[]

for p in ["Desktop","Laptop","Printer"]:
    list1.append(p)
    print(list1)
    
print("FINAL LIST=",list1)

['Desktop']
['Desktop', 'Laptop']
['Desktop', 'Laptop', 'Printer']
FINAL LIST= ['Desktop', 'Laptop', 'Printer']