# STRING FUNCTIONS

In [1]:
word1="computer"

In [2]:
word1

'computer'

In [3]:
word1.upper()

'COMPUTER'

In [8]:
word2="LENOVO"

In [9]:
word2

'LENOVO'

In [10]:
word2.lower()

'lenovo'

In [11]:
word3="SamSung"

In [12]:
word3

'SamSung'

In [13]:
word3.swapcase()

'sAMsUNG'

In [14]:
 word4="Delhi is a capital of India"

In [15]:
word4.split()

['Delhi', 'is', 'a', 'capital', 'of', 'India']

In [16]:
word5="elon musk is a ceo of tesla"

In [17]:
word5.title()

'Elon Musk Is A Ceo Of Tesla'

In [18]:
word5

'elon musk is a ceo of tesla'

In [20]:
word5.capitalize()

'Elon musk is a ceo of tesla'

In [21]:
word6="data science"

In [23]:
word6.capitalize()

'Data science'

In [24]:
word6.title()

'Data Science'

In [3]:
word5="elon musk is ceo of tesla"

In [4]:
word5

'elon musk is ceo of tesla'

In [6]:
word5.startswith("elon")

True

In [7]:
word5.startswith('ceo')

False

In [8]:
word5.endswith('tesla')

True

In [9]:
word5.endswith('musk')

False

In [10]:
word1="computer"

In [11]:
word1

'computer'

In [12]:
word1.islower()

True

In [13]:
word1.isupper()

False

In [14]:
word2="LENOVO"

In [15]:
word2.islower()

False

In [16]:
word2.isupper()

True

In [17]:
word3="SamSung"

In [18]:
word3.isupper()

False

In [19]:
word3.islower()

False

In [20]:
word2

'LENOVO'

In [22]:
word2.isalpha()

True

In [23]:
a="TdgGh"

In [24]:
a.isalpha()

True

In [25]:
b='def86'

In [28]:
b.isalpha()

False

In [29]:
b.isdigit()

False

In [30]:
b.isalnum()

True

THESE ARE ALL THE PREDEFINED FUNCTIONS .

FIND()- this will count the each character (a,b,c,d,e) inxcluding spaces and its starts with '0' index.

In [31]:
word5

'elon musk is ceo of tesla'

In [32]:
word5.find('elon')

0

In [33]:
word5.find('musk')

5

In [34]:
word5.find('tesla')

20

In [35]:
word5.find('ceo')

13

In [36]:
word5.find('ceo',10,20)

13

COUNT()operation- THE COUNT METHOD returns the number of occurences of a substring in the given string.

 this is character-wise counting. this  is case sensitive.

In [1]:
word8="Python is a popular programming language"

In [2]:
word8

'Python is a popular programming language'

In [3]:
word8.count("p")

3

In [4]:
word8.count('P')

1

In [5]:
word8.count('s')

1

Replace()- anything we want to replace with any other word . so replace function is used.

In [6]:
word1="NASA is building hotel projects in Mars"

In [7]:
word1

'NASA is building hotel projects in Mars'

In [8]:
word1.replace("NASA","SPACEX")

'SPACEX is building hotel projects in Mars'

In [14]:
x="Data science is growing field based on Data"

In [15]:
x

'Data science is growing field based on Data'

In [16]:
x.replace("Data","Analytics")

'Analytics science is growing field based on Analytics'

JOIN() operation- this joins the entire word as a single sentence.

In [19]:
text=["NASA",'is','building','hotel','project','in','Mars']

In [20]:
text

['NASA', 'is', 'building', 'hotel', 'project', 'in', 'Mars']

In [21]:
''.join(text)

'NASAisbuildinghotelprojectinMars'

In [22]:
' '.join(text)

'NASA is building hotel project in Mars'

CASEFOLD()OPERATION-if we want to take both value as similar use casefold operation.
In this ,all the character are treated as similar without any case sensitiveness.

In [23]:
string1="Tesla"

In [24]:
string2="tesla"

In [25]:
if string1.casefold()==string2.casefold():
    print("The two strings are matching")
else:
    print("The two strings are not matchng")

The two strings are matching

In [26]:
x="New"

In [27]:
y="year"

In [32]:
if x.casefold()==y.casefold():
    print(x+y)
else:
    print("No match")

No match

In [33]:
print(x+y)

Newyear

C STYLE FORMATTING-USE TO CREATE NEW FORMATTED STRINGS.

%- THIS SYMBOL WILL CONCATENATE TWO THINGS TOGETHER.


there are 2 types of formats in python-
1)C STYLE FORMAT
2)STRING.FORMAT

%s- denotes strings data
%d- denotes digit data
%f-denotes float/decimal data

C STYLE FORMAT is a format where we can write entire c style format with teh representation of %s,%d,%f.

In [35]:
name="John"

In [36]:
print("Hello,%s"%name)

Hello,John

In [37]:
print("Hello,%s!"%name)

Hello,John!

or using direct style without c style format.

In [39]:
print("Hello",name)

Hello John

In [40]:
name="John"

In [41]:
age=23

In [42]:
salary=6889.564

In [44]:
print("%s is %d years old taking salary %f"%(name,age,salary))

John is 23 years old taking salary 6889.564000

In [45]:
print('salary=%0.2f'%salary)

salary=6889.56

In [48]:
print('salary=%0.1f'%salary)

salary=6889.6

In [49]:
fruit1="Apples"

In [50]:
fruit2="Mango"

In [51]:
fruit3="Grapes"

In [52]:
print("I like to eat %s,%s and %s"%(fruit1,fruit2,fruit3))

I like to eat Apples,Mango and Grapes

STRING.FORMAT FUNCTION-
WE CAN USE { } AS PLACEHOLDER of variable.

In [54]:
print("people generally take {} with {}".format("coke","pizza"))

people generally take coke with pizza

In [55]:
print("people generally take {0} with {1}".format("coke","pizza"))

people generally take coke with pizza

In [56]:
print("people generally take {1} with {0}".format("coke","pizza"))

people generally take pizza with coke