In [1]:
 name="JOHN"

In [2]:
name

'JOHN'

In [3]:
age=14

In [4]:
age

14

In [5]:
type(name)

str

In [6]:
type(age)

int

In [7]:
fees=9888.77

In [8]:
fees

9888.77

In [9]:
type(fees)

float

 string value is always in double quotes "..",only aphabets are used in double quotes.
    no numerical number or value should come under double quotes.
    name/city/a-z characters is variable untill it is not in double quote  .Inside double quotes ex- "john" it becomes a string.

TYPECASTING

MEANS converting of one type of data into another datatype .

In [1]:
a=5

In [2]:
type(a)

int

how to convert/transfer integer in float value ?

In [4]:
a=5

In [5]:
float(a)

5.0

this is called typecasting

In [7]:
int(a)

5

this is reverse typecasting

In [8]:
age=14

In [9]:
type(age)

int

change this above value into float value ?

In [10]:
g=float(age)

In [11]:
g

14.0

g-- is a another variable which is holding the value of age .

In [12]:
type(g)

float

how to convert float into integer datatype ?

In [13]:
fees=9888.77

In [14]:
type(fees)

float

In [15]:
fees

9888.77

In [16]:
m=int(fees)

In [17]:
m

9888

fees is float datatype but m become integer datatype.

In [18]:
type(fees)

float

In [19]:
type(m)

int

In [20]:
p=78

In [21]:
p

78

In [22]:
type(p)

int

but if

In [23]:
p='78'

In [24]:
p

'78'

In [25]:
type(p)

str

becoz it is coming under single quotes

now in this case convert this above p into integer?

In [26]:
f=int(p)

In [27]:
f

78

this is called typecasting ( of p)

In [28]:
type(f)

int

avoid converting integer to strings

USER INPUT - INPUT FUNCTION IS any user value can be entered .
"enter value " means you can enter any value in the box then PRESS Enter key(DO NOT PRESS ENTER KEY)

HOW to take user input?

In [5]:
a=input("Enter Value ")

Enter Value 300

In [6]:
a

'300'

In [7]:
b=input("Enter value")

Enter value50

In [8]:
b

'50'

In [9]:
c=input("Enter value")

Enter value35526

In [10]:
c

'35526'

In [12]:
d=input("Enter value")

Enter value1537.78

In [13]:
d

'1537.78'

* Hanging sign- this sign mean your jupyter is hanky-- go to kernel and click interrupt

In [15]:
city=input("Enter the name of any city")

Enter the name of any cityLondon

In [16]:
city

'London'

the entire value will be taken as the string

In [17]:
city=input("enter any city name ")

enter any city name NEWYORK

In [18]:
city

'NEWYORK'

with the help of input value ,you can enter any dynamic value or any runtime value .

In [19]:
country=input("Enter any country name ")

Enter any country name France

In [20]:
country

'France'

In [22]:
country=input("Enter any country name ")

country

Enter any country name INDIA

'INDIA'

In [23]:
country=input("enter any country name")

country

enter any country nameParis

'Paris'

the point is --input functions are created just to take the user input ,directly from the users ... to take runtime values.

HOW TO ENTER NUMBER INPUT ?

In [29]:
x=input("enter any first number ")

enter any first number 100

In [30]:
x

'100'

In [31]:
type(x)

str

In [32]:
y=input("Enter any second value ")

Enter any second value 200

In [33]:
y

'200'

In [34]:
x+y

'100200'

this is STRING CONCATENATION ,because both are having single quotes '100''200' so this will become '100200' due to string concatenation

HOW TO DO THE MATHEMATICAL CALCULATION SUCH AS ADDITION ?

In [42]:
x=int(input("enter any first number "))

x

enter any first number 70

70

In [43]:
type(x)

int

this means whatever string we add after put int command ,the whole command will change into int.

In [44]:
y=int(input("enter any second number"))

enter any second number50

In [45]:
y

50

In [47]:
type(y)

int

In [46]:
x+y

120

because not in quotes so the value got added

# AREA OF RECTANGLE

How to find out area of rectangle with user input ?

In [50]:
length=800

breath=50

area=length*breath

print(area)

40000

In [51]:
print("the area of rectangle=",area)

the area of rectangle= 40000

In [52]:
print("area of rectangle with length=",length,"and breath=",breath,"is",area)

area of rectangle with length= 800 and breath= 50 is 40000

if we want to use user input functions?

In [60]:
length=int(input("enter the value of length"))

breath=int(input("enter the value of breath"))


area=length*breath

print(area)

print("the area of rectangle=",area)

print("the area of rectangle with length=",length,"and breath=",breath,"is",area )

enter the value of length45
enter the value of breath10
450
the area of rectangle= 450
the area of rectangle with length= 45 and breath= 10 is 450

# AREA OF CIRCLE

In [62]:
radius=45

pi=3.14

areaofcircle=pi*(radius**2)

print(areaofcircle)
print("the area of circle =",areaofcircle)

6358.5
the area of circle = 6358.5

if we want to use this with user input functions?

In [63]:
radius=int(input("enter radius"))

pi=3.14

areaofcircle=pi*(radius**2)

print(areaofcircle)

print("area of circle=",areaofcircle)

enter radius56
9847.04
area of circle= 9847.04

# CIRCUMFERENCE OF CIRCLE

In [64]:
circumference=2*pi*radius

In [65]:
print("the circumference of a circle=",circumference)

the circumference of a circle= 351.68

In [70]:
radius=int(input("enter radius"))

enter radius12

In [71]:
circumference=2*pi*radius

areaofcircle=pi*(radius**2)

print(areaofcircle)

print("the circumference of circle=",circumference)

452.16
the circumference of circle= 75.36

# PERIMETER OF RECTANGLE

In [73]:
perimeter=2*(length+breath)

In [76]:
length=int(input("enter the value of length"))

breath=int(input("enter the value of breath"))

areaofrectangle=length*breath

print(areaofrectangle)

perimeter=2*(length+breath)

print("The perimeter=",perimeter)

enter the value of length60
enter the value of breath40
2400
The perimeter= 200